@font-face {
  font-family: "Neue Pixel Grotesk";
  src: url(../css/fonts/NeuePixelGrotesk_Regular.woff);
}

body {
  font-family: Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialised;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100%;
}

a:hover {
  color: blue;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: blue;
  cursor: pointer;
  transition: all 1s ease;
}

::-webkit-scrollbar-track {
  background: transparent;
}