div.arrojadoa__wrapper {
  position: absolute;
  bottom: 55px;
  left: 30px;
  /* transform: translate(-50%, -50%); */
  z-index: -1;
}



/* img.arrojadoa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
} */


