section.heading__wrapper {
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column; 
  text-align: center; 
  width: 100%; 
  justify-content: center; 
  margin-top: 50px; 
}


div.heading__text {
  font-family: 'Helvetica Neue'; 
  font-size: 215px; 
  color: #fff; 
}

div.row_one {
  margin-bottom: -100px; 
}

div.heading__text span {
  font-family: 'Neue Pixel Grotesk';
}

div img.zig-zag-underline {
  position: relative;
  display: flex;
  width: 70vw;
  text-align: center;
  justify-content: center;
  margin: -70px auto 50px;
}

div img.zig-zag-underline-two {
  position: relative;
  display: flex;
  width: 45vw;
  text-align: center;
  justify-content: center;
  margin: -50px auto 50px; 
}



