div.text-block {
  position: absolute;
  top: 27.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
  display: none; 
  /* transition: .4s ease-in-out;  */
}

div.text-block p {
  font-size: 28px;
  line-height: 34px;
  color: #fff;
  font-weight: 400; 
  letter-spacing: 1.2px; 
  text-align: center; 
  font-family: 'Neue Pixel Grotesk'; 
  z-index: 2;
}


